.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(321px, 1fr));
    grid-gap: 12px;
  }

  .img {
      height: 245px; 
  }

.center {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  align-items: center;
  display: flex;
  justify-content: center;
}
